@charset "UTF-8";

:root {
	--disabled-text-color: #A2A2A2;
	--active-text-color: #F3F3F3;
	/* hsl values for the active color */
	--active-color-h: 0;
 	--active-color-s: 0%;
  	--active-color-l: 13%;
  	/* the defined active color*/
 	--active-color: 
 		hsl(var(--active-color-h), var(--active-color-s), var(--active-color-l));
 	--darker-active-color: 
 		hsl(var(--active-color-h), var(--active-color-s), calc(var(--active-color-l) - 8%));
 	--lighter-active-color: 
 		hsl(var(--active-color-h), var(--active-color-s), calc(var(--active-color-l) + 13%));
 	/* The color of most borders and trims */
 	--trim-color: gold;
 	--disabled-filter: invert(80%) sepia(0%) saturate(3%) hue-rotate(206deg) brightness(82%) contrast(86%);
 	--active-filter: invert(98%) sepia(6%) saturate(344%) hue-rotate(222deg) brightness(116%) contrast(91%);
 	--functional-font: tahoma;
 	--normal-text-color: black;
 	--normal-text-font: tahoma;
}

html {
	min-height: 100%;
}

div.margin-wrapper {
	justify-content: center;
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  	width: 100%;
}

div.nav-content {
	width: 1200px;
	margin-left: 5%;
	margin-right: 5%;
	box-sizing: border-box;
}

div.top-flavor {
	width: 100%;
	height: 63px;
	margin: auto;
	position: relative;
	z-index: 2;
	background-image: linear-gradient(to bottom right, var(--active-color), var(--darker-active-color));
	box-sizing: border-box;
	border-bottom: 3px solid var(--trim-color);
	overflow: hidden;
}

.home-logo {
	float: left;
	color: var(--active-text-color);
	font-family: Luminari;
	font-size: 30px;
	text-decoration: none;
	padding: 10px 5px 10px 5px;
	text-shadow: 2px 2px 4px black;
}

.top-nav-right {
	float: right;
	color: var(--active-text-color);
	font-size: 22px;
	text-decoration: none;
	padding: 15px 5px 15px 5px;
	text-shadow: 2px 2px 4px black;
	cursor: pointer;
}

.top-nav-right:hover .nav-icon {
	filter: var(--active-filter) drop-shadow(2px 2px 4px black);
}

.home-icon {
	float: left;
	height: 40px;
	width: 40px;
	overflow: hidden;
	padding-right: 10px;
	filter: var(--active-filter) drop-shadow(2px 2px 4px black);
}

.nav-icon {
	float: left;
	height: 24px;
	width: 24px;
	overflow: hidden;
	padding: 3px 0px 3px 0px;
	filter: var(--disabled-filter) drop-shadow(2px 2px 4px black);
}

.hud {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

.flavor-space {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
    width: 100%;
    z-index: 20;
    top: 0px;
    height: 63px;
}

.nav-space {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
    width: 100%;
    z-index: 20;
    top: 0px;
    height: 50px;
}

.navbar {
	font-family: var(--functional-font);
    overflow: hidden;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, var(--lighter-active-color), var(--active-color));
    justify-content: center;
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    margin: auto;
}

.nav-button {
    float: left;
    font-size: 16px;
    line-height: 20px;
    color: var(--disabled-text-color);
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    /** Transition */
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, var(--active-color) 50%);
    -webkit-transition: background-position .4s;
    -moz-transition: background-position .4s;
    transition: background-position .4s;
}

.nav-dropdown {
    float: left;
    overflow: hidden;
}

.nav-dropdown .nav-dropbtn {
    font-size: 16px;
    line-height: 20px;
    color: var(--disabled-text-color);
    text-align: center;
    padding: 15px 20px 15px 20px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    /** Transition */
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, var(--active-color) 50%);
    -webkit-transition: background-position .4s;
    -moz-transition: background-position .4s;
    transition: background-position .4s;
}

.drop-arrow {
	float: right;
	font-size: 8px;
    line-height: 20px;
    padding-left: 6px;
    text-align: center;
}

.nav-button:hover, .nav-dropdown:hover .nav-dropbtn {
    background-position: 0 100%;
    color: var(--active-text-color);
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    left: 10%;
    z-index: 999;
    width: 80%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-bottom: 3px solid var(--trim-color);
    border-left: 3px solid var(--trim-color);
    border-right: 3px solid var(--trim-color);
    justify-content: space-evenly;
}

.nav-dropdown-content a {
	float: left;
    color: var(--disabled-text-color);
    text-align: center;
    text-decoration: none;
	position: relative;
	z-index: 999;
	width: 20%;
	aspect-ratio:7/5;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	/** Animation */
	border: 0px solid var(--trim-color);
  	transition: 0.2s
}

a.small-menu {
	width: 15%;
	aspect-ratio:7/5;
}

.menu-label {
	font-size: 16px;
    line-height: 20px;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
	position: absolute;
	top: calc(100% - 40px);
	left: 0px;
	transition: .4s;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.nav-dropdown-content a:hover > .menu-label {
	top: 0px;
	color: var(--active-text-color);
}

.nav-dropdown-content a:hover {
	border: 2px solid var(--trim-color);
}

.nav-dropdown-background {
	background-color: var(--active-color);
	position: absolute;
	z-index: 998;
	opacity: .99;
	width: 100%;
	height: 100%;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: flex;
}

.simple-nav {
    z-index: 999;
    width: 220px;
    float: right;
    max-height: 580px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: var(--darker-active-color);
    overflow: auto;
}

.simple-nav a {
    font-family: var(--functional-font);
    color: var(--disabled-text-color);
    height: 50px;
    font-size: 16px;
    line-height: 48px;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    overflow: hidden;
    float: none;
    display: block;
    box-sizing: border-box;
	border-bottom: 2px solid var(--darker-active-color);
	/** Transition */
	background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--active-color) 50%, var(--darker-active-color) 50%);
    -webkit-transition: background-position .4s;
    -moz-transition: background-position .4s;
    transition: background-position .4s;
}

span.simple-arrow {
	line-height: 48px;
    font-size: 8px;
    position: relative;
    top: -3px;
}

.simple-nav a:hover {
	background-position: 100%;
    color: var(--active-text-color);
}

.simple-dropdown a {
	background-image: linear-gradient(to right, var(--lighter-active-color) 50%, var(--darker-active-color) 50%);
	padding-left: 50px;
}

.simple-drop-arrow {
	float: right;
	font-size: 8px;
    line-height: 50px;
    padding-left: 6px;
    text-align: center;
}

/* Use a media query to modify for phones */
@media screen and (max-width: 767px) {
  
  .navbar {
  	display: none;
  }
  
  .home-logo {
  	margin-left: 0px;
  }
  
  a.top-nav-right {
  	display:none;
  }
  
  .nav-space {
  	display: none;
  }
  
  
}

/* Use a media query to modify for tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
	.menu-label {
		font-size: 12px;
		line-height: 14px;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 8px;
		position: absolute;
		top: calc(100% - 30px);
	}
}

@media screen and (min-width: 768px) {
  	.simple-nav {
  		display: none;
  	}
}